.book-header {
	font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
}
.book-summary {
  	font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
}
.book.font-family-1 {
	font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
}
